@import '../../styles/variables';

.page-header {
  display: flex;
  background-color: $blue;
  height: 150px;
  background-image: url('/images/pattern.png');
  background-size: 50px;

  &__logo {
    width: 250px;
    height: 100px;
    background-image: url("/images/logo-secondary.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__menu {
    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      li {
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:hover {
          color: $red;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
