// @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');
@import '/font/worksans.css';
@import 'variables';

body {
  margin: 0;
  padding: 0;
  color: $dark;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding-left: 20px;
}

a {
  font-size: inherit;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

nav {
  ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 15px;
    font-size: 18px;
    li {
      text-transform: uppercase;
      cursor: pointer;
      user-select: none;
      font-weight: 500;
      line-height: 100%;
      &:not(:last-child) {
        border-right: 1px solid $dark;
        padding-right: 20px;
        margin-right: 20px;
      }
      &:hover {
        color: $red;
      }
    }
  }
}

header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  color: $white;
  background-color: $blue;
  background-image: url('/images/pattern.png');
  background-size: 50px;
  height: 520px;
  text-transform: uppercase;
  h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 52px;
    margin: 0 auto;
    width: max-content;
    border-bottom: 1px solid $white;
    margin-bottom: 10px;
    span {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    margin-left: -20px;
  }
}

.container {
  width: 1200px;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  &__address {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    li {
      cursor: default;
      &:hover {
        color: $dark;
      }
      span {
        text-transform: lowercase;
      }
    }
  }
}

.content {
  background-color: $white;
  border-radius: 5px;
  text-align: justify;
  
  margin-right: 64px;
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    margin-top: 20px;
  }
}

.why-us {
  display: flex;
  padding: 50px 0;
  .container {
    display: flex;
  }
}

.practices {
  padding-top: 80px;
  color: $blue;
  h1 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
    margin: 0 auto 50px;
    .heading-bottom-sign {
      &::after {
        width: 55px;
        left: -65px;
      }
      &::before {
        width: 55px;
        right: -65px;
      }
    }
  }

  &__card {
    display: flex;
    background-color: $gray;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin-bottom: 30px;
    width: 30%;
    height: 125px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    &:last-child {
      background: none;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.practice-one {
  padding: 75px 0;
  .container {
    display: flex;
  }
  h1 {
    font-weight: 600;
    margin-bottom: 65px;
    color: $blue;
  }
}

.partners {
  display: flex;
  justify-content: center;

  &__card {
    width: 200px;
    background-color: $gray;
    cursor: pointer;
    .image {
      width: 100%;
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name {
      font-weight: bold;
      text-transform: uppercase;
      margin: 30px 0;
      font-size: 14px;
      text-align: center;
      color: $blue;
    }
    &:not(:last-child) {
      margin-right: 100px;
    }
  }

  &__heading {
    color: $blue;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
    margin: 50px auto 50px;
    .heading-bottom-sign {
      &::after {
        width: 44px;
        left: -54px;
      }
      &::before {
        width: 44px;
        right: -54px;
      }
    }
  }
}

.partner-page {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  &__side {
    width: 23%;
    min-width: 23%;
    background-color: $white;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin-top: 15px;
      margin-bottom: 15px;
      color: $blue;
      text-align: center;
      font-size: 18px;
      span {
        margin-left: 12px;
      }
    }

    .award-heading  {
      text-align: center;
      font-style: italic;
      font-style: 14px;
      text-transform: capitalize;
      margin-bottom: 35px;
      color: $blue;
    }

    .phones, .email {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
      margin-left: 15px;
    }

    img {
      width: 200px;
      display: block;
      margin: 0 auto;
    }
  }

  &__content {
    background-color: $white;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 14px;
    border-right: 2px solid #eeeeee;
    li {
      padding-left: 5px;
    }
  }

  &__skills {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 25px;
    background-color: $gray;
    padding: 20px;
    .heading {
      color: $blue;
      margin-bottom: 5px;
    }
    p {
      font-weight: normal;
      margin-bottom: 10px;
    }
    li {
      font-weight: normal;
    }
  }

  &__award {
    font-size: 14px;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    .heading {
      color: $blue;
      margin-top: 10px;
    }
    p {
      font-weight: normal;
      margin-top: 10px;
      font-style: italic;
    }
    .image {
      width: 80px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.news {
  padding: 70px 0 0;
  h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  &__main {
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .content {
    width: 100%;
  }
}

.heading-bottom-sign {
  position: relative;
  margin: auto;
  width: 16px;
  height: 16px;
  border: 2px solid $bright-blue;
  margin-top: 15px;
  border-radius: 50%;
  &::after,
  &::before {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: $bright-blue;
  }
}


.separator {
  width: 10px;
}

.i-linkedin {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("/images/linkedin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.m-b-10 {
  margin-bottom: 10px;
}